{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Weather Wane</title>
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <body style="background-image: url('{% static 'img/clouds.jpg' %}');">
            <h2>Login to Weather Wane</h2>
            <form action="/submit-login" method="post">
                <div class="input-field">
                    <input type="email" id="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                 <div class="pass"><a href="#">Forgot password?</a></div>
                 <div class="row button">
                  
                </div>
                <button type="submit">Login</button>
                <p>Don't have an account? <a href="signup.html">Sign up</a></p>
            </form>
        </div>
    </div>
</body>
</html>
